.Chart {
    border: 1px solid red;
    height: fit-content;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 8rem;

    @media screen and (max-width: 400px) {
        width: 90%;
        // padding-top: 5rem;
    }

    & h1 {
        color: tomato;
    }

    & div {
        height: 10rem;
        width: 100%;
        margin: 0 0 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: solid 1.5px HotPink;
    }
}